<h2>People</h2>
<form>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" id="insertingName" ng-model="inserting.name" />
    </div>
    <button class="btn btn-primary" ng-click="insert()">
        Insert
    </button>
</form>
<ul class="list-group">
    <li ng-repeat"person in people" class="list-group-item">
        <div class="row">
            <div class="col-md-8">
                {{ person.name }}
            </div>
            <div class="col-md-2">
                <button class="btn btn-warning" ng-click="delete(person)">
                    Delete
                </button>
            </div>
        </div>
    </li>
</ul>
